.layout {
  height: 100%;
}
.layout .sider {
  color: white;
}
.layout .content {
  background-color: white;
  margin: 20px 20px 0 20px;
  height: 80vw;
  overflow: auto;
}
.layout .footer {
  text-align: center;
  color: #4646b9;
  line-height: 0px;
}
